{
	"printWidth": 120,
	"tabWidth": 2,
	"endOfLine": "crlf",
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto",
	"plugins": ["@prettier/plugin-xml"],
	"overrides": [
		{
			"files": ["*.svg", "*.xml"],
			"options": { "parser": "xml" }
		}
	]
}
