{
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "crlf",
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "useEditorConfig": true
}
