services:
  pholio:
    container_name: pholio-core-${APP_VERSION:-0.0.0}-${APP_ENV:-development}
    image: pholio-core:${APP_VERSION:-0.0.0}-${APP_ENV:-development}
    build:
      context: ./src
      dockerfile: Dockerfile
    volumes:
      - ./src:/app
    ports:
      - '3000:3000' #host_port:container_port
    labels:
      - 'author=Alfred Mah <alfredmjz@gmail.com>'
      - 'version=${APP_VERSION:-0.0.0}'
    env_file:
      - .env
