services:
  pholio:
    container_name: pholio-core-${APP_VERSION:-0.0.0}-${APP_ENV:-development}
    image: pholio-core:${APP_VERSION:-0.0.0}-${APP_ENV:-development}
    build:
      context: ./src
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_SUPABASE_URL: ${NEXT_PUBLIC_SUPABASE_URL}
        NEXT_PUBLIC_SUPABASE_ANON_KEY: ${NEXT_PUBLIC_SUPABASE_ANON_KEY}
    volumes:
      - ./src:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.next
    ports:
      - "3000:3000" #host_port:container_port
    labels:
      - "author=Alfred Mah <alfredmjz@gmail.com>"
      - "version=${APP_VERSION:-0.0.0}"
    env_file:
      - .env
      - src/.env.local
    environment:
      - SUPABASE_URL=http://host.docker.internal:54321
