name: CI

on:
  pull_request:
    branches: [main, development]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        working-directory: ./src
        run: bun install

      # - name: Lint
      #   working-directory: ./src
      #   run: bun run lint

      - name: Build
        working-directory: ./src
        run: bun run build
