name: Release

on:
  push:
    branches:
      - main
      # Trigger on pushed tags as well if needed, but semantic-release usually creates them
      # - 'v*'

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # required for semantic-release to check commit history

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node_version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
